@model List<Product>

    @foreach (var item in Model)
   {
        <li class="d-flex px-3">
            <a asp-controller="product" asp-action="detail" asp-route-id="@item.id">@item.Name</a>
        </li>
   }
 


