
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

 <div>
                     <form method="post" >

                          <div class="form-group">
                            <input name="role" type="text" class="form-control"   placeholder="Enter email">
                            <button type="submit" class="btn btn-primary">create</button>
                          </div>
                        
                     </form>
                </div>

