@model RoleVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}


 <div>
             <form method="post" >
                        <h1>@Model.FullName</h1>
                          <div class="form-group">
                              <input type="hidden" name="id" value="@Model.userId" />
                              @foreach (var item in Model.roles)
                                {
                                   
                                        <input name="roles" value="@item.ToString()" class="form-check-input" type="checkbox" @(Model.userRoles.Contains(item.ToString())?"checked=\"checked\"":"")/>@item
                                   
                                 
               
                                }
                            <button type="submit" class="btn btn-primary">create</button>
                          </div>
                        
                     </form>
                </div>

